/* Registration Page css file */

@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    background-image: url('../images/UCL_logo.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(70%) brightness(70%) opacity(70%);
    z-index: -1;
    position: fixed; /* Ensures the pseudo-element covers the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#container {
    z-index: 1;
}

#header {
    background-color: #500778;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 1;
    width: 100%;
}

#welcomeText {
    display: flex;
    color: #FFCA36;
    font-size: 2em;
    font-weight: bolder;
    top: auto;
    margin: auto;
    width: 60%;
}

.right-links a{
    padding: 0 10px;
    width: 40%;
}

a {
    text-decoration: none;
}

#homeBtn {
    background-color: #34C6C6;
    right: 15%;
    top: 1.5%;
    height: 25px;
    border-color: #34C6C6;
    outline: None;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 1.2em;
    transition: all .3s;
    margin: 20px;
    padding: 0px 10px;
}

#footer {
    background-color: #500778;
    color: #FFCA36;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

#inputForm {
    background-color: #52C152;
    height: auto;
    width: 30%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #52C152;
    outline: none;
    padding: 20px;
    margin: auto;
    margin-top: 15vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.inputField {
    display: flex;
    flex-direction: column;
}

#date {
    margin: 10px;
}

.submitBtn {
    display: flex;
    flex-direction: column;
    background-color: #34C6C6;
    border-color: #34C6C6;
    outline: None;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 1.2em;
    transition: all .3s;
    margin: auto;
    padding: 0px 10px;
}

#next_address {
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #34C6C6;
    border-color: #34C6C6;
    outline: None;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 1.2em;
    transition: all .3s;
    margin: auto;
    padding: 0px 10px;
}